In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [15]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [16]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
dFrame = DataFrame(randn(25).reshape(5,5), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dFrame

       col1      col2      col3      col4      col5
A -0.226610  1.061898 -0.250065 -0.355290 -0.226263
B -0.616986 -0.108430  0.873195  1.441127  0.237392
D -0.862804  0.768468 -0.435913  0.000890 -2.713262
E -0.254279  0.100588  1.580955 -1.748112 -1.121115
F -0.551691  0.111529 -1.214938 -0.692189  0.258971

In [18]:
new_index = ['A','B','C','D','E']
dFrame2 = dFrame.reindex(new_index)
dFrame2

       col1      col2      col3      col4      col5
A -0.226610  1.061898 -0.250065 -0.355290 -0.226263
B -0.616986 -0.108430  0.873195  1.441127  0.237392
C       NaN       NaN       NaN       NaN       NaN
D -0.862804  0.768468 -0.435913  0.000890 -2.713262
E -0.254279  0.100588  1.580955 -1.748112 -1.121115

In [19]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dFrame2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.226610  1.061898 -0.250065 -0.355290 -0.226263   NaN
B -0.616986 -0.108430  0.873195  1.441127  0.237392   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.862804  0.768468 -0.435913  0.000890 -2.713262   NaN
E -0.254279  0.100588  1.580955 -1.748112 -1.121115   NaN

In [20]:
dFrame

       col1      col2      col3      col4      col5
A -0.226610  1.061898 -0.250065 -0.355290 -0.226263
B -0.616986 -0.108430  0.873195  1.441127  0.237392
D -0.862804  0.768468 -0.435913  0.000890 -2.713262
E -0.254279  0.100588  1.580955 -1.748112 -1.121115
F -0.551691  0.111529 -1.214938 -0.692189  0.258971

In [22]:
dFrame.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A -0.226610  1.061898 -0.250065 -0.355290 -0.226263   NaN
B -0.616986 -0.108430  0.873195  1.441127  0.237392   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.862804  0.768468 -0.435913  0.000890 -2.713262   NaN
E -0.254279  0.100588  1.580955 -1.748112 -1.121115   NaN