In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
arr = np.array([[1,2,np.nan], [np.nan,3,4]])
arr

array([[  1.,   2.,  nan],
       [ nan,   3.,   4.]])

In [3]:
dframe1 = DataFrame(arr, index=['a','b'], columns=['one','two','three'])
dframe1

   one  two  three
a  1.0  2.0    NaN
b  NaN  3.0    4.0

In [4]:
dframe1.sum()

one      1.0
two      5.0
three    4.0
dtype: float64

In [7]:
# 行方向 axis=1
dframe1.sum(axis=1)

a    3.0
b    7.0
dtype: float64

In [5]:
dframe1.min()

one      1.0
two      2.0
three    4.0
dtype: float64

In [8]:
dframe1.idxmin()

one      a
two      a
three    b
dtype: object

In [9]:
dframe1.idxmax()

one      a
two      b
three    b
dtype: object

In [10]:
dframe1

   one  two  three
a  1.0  2.0    NaN
b  NaN  3.0    4.0

In [12]:
# 累積
dframe1.cumsum()

   one  two  three
a  1.0  2.0    NaN
b  NaN  5.0    4.0